<div class="footer-nav">
  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Get in Touch</div>
    <ul class="footer-nav_block-links green">
      <a href="#">About Us</a>
      <a href="#">Careers</a>
      <a href="#">Press Releases</a>
      <a href="#">Blog</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Connections</div>
    <ul class="footer-nav_block-links green">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      <a href="#">Youtube</a>
      <a href="#">LinkedIn</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Earnings</div>
    <ul class="footer-nav_block-links green">
      <a href="#">Become an Affiliate</a>
      <a href="#">Advertise your product</a>
      <a href="#">Sell on Market</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Account</div>
    <ul class="footer-nav_block-links green">
      <a href="#">Your account</a>
      <a href="#">Returns Centre</a>
      <a href="#">100 % purchase protection</a>
      <a href="#">Chat with us</a>
      <a href="#">Help</a>
    </ul>
  </div>
</div>
