.footer-nav {
  display: flex;
  justify-content: space-between;
  &_block-title {
    font-weight: 600;
    font-size: 18px;
  }
  &_block-links {
    display: flex;
    flex-direction: column;
    a {
      font-size: 14px;
      color: inherit;
      margin-top: 15px;
    }
  }
}
