<div class="footer-nav">
  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Get in Touch</div>
    <ul class="footer-nav_block-links green">
      <a routerLink="">About Us</a>
      <a routerLink="">Careers</a>
      <a routerLink="">Press Releases</a>
      <a routerLink="">Blog</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Connections</div>
    <ul class="footer-nav_block-links green">
      <a routerLink="">Facebook</a>
      <a routerLink="">Twitter</a>
      <a routerLink="">Instagram</a>
      <a routerLink="">Youtube</a>
      <a routerLink="">LinkedIn</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Earnings</div>
    <ul class="footer-nav_block-links green">
      <a routerLink="">Become an Affiliate</a>
      <a routerLink="">Advertise your product</a>
      <a routerLink="">Sell on Market</a>
    </ul>
  </div>

  <div class="footer-nav_block">
    <div class="footer-nav_block-title">Account</div>
    <ul class="footer-nav_block-links green">
      <a routerLink="">Your account</a>
      <a routerLink="">Returns Centre</a>
      <a routerLink="">100 % purchase protection</a>
      <a routerLink="">Chat with us</a>
      <a routerLink="">Help</a>
    </ul>
  </div>
</div>
