.footer-tags {
  &_container {
    padding: 40px 0;
    margin-top: 7px;
  }
  &_title {
    font-size: 18px;
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 4px 10px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 12px;
  }
}

