.footer-tags {
  &_container {
    padding: 40px 0;
  }
  &_items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 5px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 12px;
  }
}

