<div class="filter_brand">
  <label>
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <input type="checkbox" />
    <span></span>
  </label>
</div>

<div class="filter_brand">
  <label>
    <img src="assets/star.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <input type="checkbox" />
    <span></span>
  </label>
</div>

<div class="filter_brand">
  <label>
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <input type="checkbox" />
    <span></span>
  </label>
</div>

<div class="filter_brand">
  <label>
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <input type="checkbox" />
    <span></span>
  </label>
</div>

<div class="filter_brand">
  <label>
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star.svg" alt="">
    <img src="assets/star-full.svg" alt="">
    <input type="checkbox" />
    <span></span>
  </label>
</div>
