.header {
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .logo {
      img {
        position: relative;
        top: 8px;
        left: 17px;
      }
    }
  }
}
app-search {
  flex-grow: 1;
  max-width: 500px;
}

@media screen and (max-width: 1023px) {
  .header {
    &_content {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background: #FFF;
      z-index: 100;
      flex-wrap: wrap;
      padding: 10px 15px;
      border-bottom: 1px solid rgba(169, 169, 169, 0.17);
    }
    &_search {
      margin-left: 40px;
      padding: 3px;
      cursor: pointer;
      img {
        width: 24px;
        margin-top: 2px;
      }
    }
    .logo {
      img {
        top: 2px;
        left: 0;
        width: 100%;
      }
    }
  }
  app-search {
    max-width: 100%;
    width: 100%;
    order: 2;
    margin-top: 15px;
  }
}

@media screen and (max-width: 475px) {
  .header .logo {
    width: 41%;
  }
}
