.header {
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .logo {
      img {
        position: relative;
        top: 8px;
        left: 17px;
      }
    }
  }
}
app-search {
  flex-grow: 1;
  max-width: 500px;
}
