.filter_brand {
  margin-top: 16px;
  label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: inherit;
    z-index: 2;
  }
  span {
    display: inline-flex;
    border-radius: 3px;
    border: 1.5px solid #D1D1D1;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    transition: .3s;
  }
  input:checked + span {
    border: 1.5px solid #46760A;
    background: #6A983C;
    &:after {
      content: "";
      position: absolute;
      border-bottom: 2px solid #FDFDFD;
      border-left: 2px solid #FDFDFD;
      background: none;
      z-index: 1;
      width: 10px;
      height: 4px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%,) rotate(-45deg);
    }
  }
  input {
    width: 0.1px;
  }
}
