.home {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    min-height: 100px;
    background: url("/assets/prodBg.jpg") center center no-repeat;
    background-size: cover;
    width: 90%;
    margin: 10px auto;
  }
}
