<div class="product-card">
  <div class="product-card_right">
    <img class="product-card_image" src="assets/mockImg.svg" alt="">
    <button class="openSans"><img src="assets/heart-red.svg" alt="">Wishlist</button>
    <button class="openSans"><img src="assets/delete.svg" alt="">Remove</button>
  </div>
  <div class="product-card_content">
    <div class="product-card_title">Product title</div>
    <div class="product-card_info openSans">
      <div class="product-card_info-item">
        <span>Farm:</span><span class="black">Tharamis Farm</span>
      </div>
      <div class="product-card_info-item">
        <span>Freshness:</span><span class="black">1 day old</span>
      </div>
      <div class="product-card_rating">
        <img src="assets/star-full.svg" alt="">
        <img src="assets/star-full.svg" alt="">
        <img src="assets/star-full.svg" alt="">
        <img src="assets/star-full.svg" alt="">
        <img src="assets/star.svg" alt="">
      </div>
    </div>
    <div class="product-card_price">
      <div class="price green">36.99 USD</div>
      <div class="count">
        <input type="number">
        <select>
          <option value="pcs">Psc</option>
          <option value="pcs">Psc</option>
        </select>
      </div>
    </div>
  </div>
</div>
