.product-card {
  display: flex;
  font-size: 14px;
  border-radius: 12px;
  margin-bottom: 32px;
  border: 1px solid #D1D1D1;
  max-height: 280px;
  &_content-wrapper {
    display: flex;
    padding: 32px;
    flex-grow: 1;
  }
  &_content {
    flex-grow: 1;
    margin-right: 32px;
  }
  &_image {
    min-width: 270px;
    max-width: 270px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    left: -1px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_title {
    font-weight: 600;
    font-size: 18px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &_description {
    font-size: 12px;
    margin-top: 2px;
  }
  &_rating {
    margin-top: 10px;
    img {
      margin-right: 4px;
    }
  }
  &_info {
    margin-top: 20px;
    div {
      display: flex;
      margin-top: 11px;
      & > span:first-child {
        width: 73px;
        margin-right: 32px;
      }
      span {
        color: #A9A9A9;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  &_pricing {
    min-width: 170px;
  }
  &_price {
    font-weight: 600;
    font-size: 18px;
  }
  &_lastprice {
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
    text-decoration: line-through;
  }
  &_shipping {
    margin-top: 13px;
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
  }
  &_delivery {
    font-size: 12px;
    color: #A9A9A9;
  }
  &_details {
    display: flex;
    position: relative;
    left: 7px;
    a {
      font-weight: bold;
      font-size: 15px;
      color: #FFFFFF;
      background: #6A983C;
      border: 2px solid #46760A;
      padding: 10px 20px;
      padding-right: 30px;
      border-radius: 12px;
      margin-top: 26px;
      position: relative;
      transition: .3s;
      &:hover {
        background: #46760A;
      }
      &:after {
        position: absolute;
        content: '>';
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
  &_wishlist {
    position: relative;
    left: 7px;
    button {
      margin-top: 12px;
      background: #F5F5F5;
      border-radius: 12px;
      padding: 6px 14px;
      font-weight: bold;
      font-size: 15px;
      border: none;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background: #dbdbdb;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .product-card {
    height: 253px;
    &_content-wrapper {
      padding: 20px;
    }
    &_content {
      margin-right: 20px;
    }
    &_image {
      min-width: 253px;
      max-width: 253px;
    }
    &_info div {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-card {
    height: fit-content;
    max-height: fit-content;
    &_content-wrapper {
      flex-direction: column;
      padding: 0;
    }
    &_image {
      display: flex;
      align-items: center;
      min-width: 35%;
      max-width: 35%;
      img {
        height: 55%;
        border-radius: 12px;
      }
    }
    &_content {
      padding: 15px 15px 10px;
      margin-right: 0;
    }
    &_shipping {
      margin-top: 0;
    }
    &_pricing {
      display: flex;
      flex-wrap: wrap;
      &-block {
        width: 50%;
        padding: 0 15px;
      }
      &-buttons {
        width: 100%;
        margin-top: 20px;
        display: flex;
      }
      .product-card_details {
        left: 0;
        width: 50%;
        order: 2;
        a {
          width: 100%;
          margin-top: 0;
          border-radius: 0 0 12px 0;
        }
      }
      .product-card_wishlist {
        left: 0;
        width: 50%;
        button {
          width: 100%;
          margin-top: 0;
          height: 100%;
          border-radius: 12px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 555px) {
  .product-card {
    flex-direction: column;
    &_image {
      max-width: 100%;
      max-height: 300px;
    }
    .product-card_wishlist button {
      border-bottom-left-radius: 12px;
    }
    &_info {
      div {
        margin-top: 7px;
        & > span:first-child {
          margin-right: 32px;
        }
        span:last-child {
          width: 100%;
          text-align: right;
        }
      }
    }
    &_shipping, &_delivery {
      text-align: right;
    }
  }
}

@media screen and (max-width: 385px) {
  .product-card_pricing-buttons {
    flex-direction: column;
    .product-card_details {
      width: 100%;
      a {
        border-radius: 0 0 12px 12px;
      }
    }
    .product-card_wishlist {
      width: 100%;
      button {
        border-radius: 12px 12px 0 0;
      }
    }
  }
}
