<div class="product-card">
  <div class="product-card_image">
    <a [routerLink]="product.id.toString()">
      <img src="{{product.imgUrl}}" alt="{{product.category}}">
    </a>
  </div>

  <div class="product-card_content-wrapper">
    <div class="product-card_content">
      <div class="product-card_title">{{product.title}}</div>
      <div class="product-card_description openSans">{{product.description.small}}</div>
      <div class="product-card_rating">
        <img *ngFor="let star of productRating" [src]="'assets/' + star + '.svg'" alt="star">
      </div>
      <div class="product-card_info openSans">
        <div>
          <span>Freshness</span>
          <span><span class="green">{{product.freshness}}</span></span>
        </div>
        <div>
          <span>Farm</span>
          <span>{{product.farm}}</span>
        </div>
        <div>
          <span>Delivery</span>
          <span>{{product.deliveryArea}}</span>
        </div>
        <div>
          <span>Stock</span>
          <span class="green">{{product.stock}}</span>
        </div>
      </div>
    </div>

    <div class="product-card_pricing">
      <div class="product-card_pricing-block">
        <div class="product-card_price">{{product.price}} USD</div>
        <div class="product-card_lastprice">{{product.previousPrice}}</div>
      </div>
      <div class="product-card_pricing-block">
        <div class="product-card_shipping">Free Shipping</div>
        <div class="product-card_delivery openSans">Delivery in {{product.deliveryTime}} day</div>
      </div>
      <div class="product-card_pricing-buttons">
        <div class="product-card_details">
          <a routerLink="/products/{{product.id}}">Product Detail</a>
        </div>
        <div class="product-card_wishlist" *ngIf="userId">
          <button (click)="addProductToWishlist()" *ngIf="!wishlist">
            <img src="assets/{{!isProductInWishlist ? 'heart' : 'heart-full'}}.svg" alt="">
            {{!isProductInWishlist ? 'Add to wish list' : 'Remove'}}</button>
          <button (click)="removeWish(product)" class="wishlist_delete" *ngIf="wishlist">
            <img src="assets/delete.svg" alt="delete">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
