.all-products {
  &_container {
    display: flex;
    justify-content: space-between;
  }
  &_items {
    border: 1px solid;
    flex-grow: 1;
  }
  &_item {
    padding: 10px;
    display: flex;
    a {
      width: 100%;
    }
    &:hover {
      background: #6A983C;
    }
  }
}
