<div class="page-title">
  <h2>All Products</h2>
  <div class="products-counter">
    <span>{{(products)?.length}} </span> Products
  </div>
</div>

<div class="all-products_container">
  <app-filters></app-filters>

  <div class="all-products_items" *ngIf="products.length; else noProducts">
    <div *ngFor="let product of products | paginate: {
      id: 'products_pagination',
      itemsPerPage: productsToShow,
      currentPage: page,
      totalItems: products.length
    }">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>

  <ng-template #noProducts>
    <p class="all-products_empty">No Products to show! Choose another query</p>
  </ng-template>

</div>

<div class="all-products_pagination">
  <pagination-controls
    class="all-products_pagination-controls"
    id="products_pagination"
    maxSize="5"
    (pageChange)="page = $event"
    autoHide="true"
  ></pagination-controls>

  <div class="all-products_showmore" *ngIf="products.length > 5">
    <button (click)="showMoreProducts()">Show more products </button>
  </div>

  <div class="products-counter">
    <span>{{(products)?.length}} </span> Products
  </div>
</div>

