.filter-price {
  margin-top: 15px;
  input[type='range'] {
    width: 100%;
  }
  &_inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    span {
      align-self: flex-end;
      margin-bottom: 10px;
      color: #A9A9A9;
    }
    label {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 12px;
    }
    input {
      background: #F9F9F9;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      padding: 10px 15px;
      max-width: 110px;
    }
  }
  button {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    margin: 20px auto 0;
  }
}
