.profile {
  &_cart {
    position: relative;
    margin-left: 40px;
    span {
      display: none;
    }
  }
  &_cart--fill span {
    position: absolute;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background: #E6704B;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    bottom: -5px;
    left: -5px;
    transition: .3s;
  }
  &.active .profile_cart--fill span{
    width: 24px;
    height: 24px;
    bottom: -8px;
    left: -8px;
  }
}
