.header-mobile {
  position: fixed;
  top: 58px;
  padding-bottom: 58px;
  left: 15px;
  height: 100%;
  width: 270px;
  background: #D1D1D1;
  z-index: 100;
  transition: .3s;
  transform: translateX(-285px);
  &.active {
    transform: translateX(-15px);
  }
}

@media screen and (max-height: 600px) {
  .header-mobile_list {
    height: 100%;
    overflow-y: scroll;
  }
}
