@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  text-decoration: none;
  outline: none;
  color: #151515;
}

.openSans {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
}
.black {
  color: #151515 !important;
}
.green {
  color: #6A983C !important;
}

.container {
  max-width: 1300px;
  padding: 0 45px;
  margin: 0 auto;
}
