<div class="product_wrapper" *ngIf="product; else noProduct">
  <div class="product_alert" [class.active]="isNotification">added!</div>

  <div class="product_photos">
    <div class="product_photos-top">
      <img [src]="product.imgUrl" alt="">
    </div>
    <div class="product_photos-bottom">
      <div class="product_photos-bottom_item"><img [src]="product.imgUrl" alt=""></div>
      <div class="product_photos-bottom_item"><img [src]="product.imgUrl" alt=""></div>
    </div>
  </div>

  <div class="product_content">
    <div class="product_title">{{product.title | titlecase}}</div>
    <div class="product_rating">
      <img *ngFor="let star of productRating" [src]="'assets/' + star + '.svg'" alt="star">
      <span class="openSans">({{product.reviews.length}} customer review{{product.reviews.length > 1 ? 's' : ''}})</span>
    </div>
    <div class="product_description openSans">{{product.description.main}}</div>
    <div class="product_info openSans">
      <div class="product_info-part">
        <div>
          <span>Country:</span>
          <span>{{product.country}}</span>
        </div>
        <div>
          <span>Category:</span>
          <span>{{product.category | titlecase}}</span>
        </div>
        <div>
          <span>Stock:</span>
          <span>{{product.stock >= 10 ? 'In Stock' : product.stock === 0 ? 'Ran out' : 'Less than 10 items'}}</span>
        </div>
        <div>
          <span>Color:</span>
          <span>{{product.color}}</span>
        </div>
      </div>
      <div class="product_info-part">
        <div>
          <span>Size:</span>
          <span>{{product.sizes}}</span>
        </div>
        <div>
          <span>Buy by:</span>
          <span>{{product.buyProperties}}</span>
        </div>
        <div>
          <span>Delivery:</span>
          <span>in {{product.deliveryTime}} day{{product.deliveryTime > 1 ? 's' : ''}}</span>
        </div>
        <div>
          <span>Delivery area:</span>
          <span>{{product.deliveryArea | titlecase}}</span>
        </div>
      </div>
    </div>

    <div class="product_pricing">
      <div class="product_price">
        <div>{{product.price}} USD</div>
        <div>{{product.previousPrice}} USD</div>
      </div>

      <div class="product_county">
        <input type="number" [formControl]="productCount" (keydown)="$event.preventDefault()">
        <div class="product_county-buttons">
          <button (click)="handleCount(1)">+</button>
          <button (click)="handleCount(-1)">-</button>
        </div>
        <select>
          <option
            *ngFor="let option of product.buyProperties.split(', ')"
            [value]="option"
          >{{option}}</option>
        </select>
      </div>

      <div class="product_button">
        <button (click)="addProductToCart()">
          <img src="assets/plus.svg" alt="">
          Add to cart</button>
      </div>
    </div>

    <div class="product_wishlist" *ngIf="authService.user.value.id">
      <button (click)="addToWishlist()">
        <img src="assets/{{!isProductInWishlist ? 'heart' : 'heart-full'}}.svg" alt="">
        {{!isProductInWishlist ? 'Add to' : 'Remove from'}} my wish list</button>
    </div>

    <div class="product-tabs">
      <app-tabs>
        <app-tab [title]="'Description'">
          <div class="product-tabs_description">
            <span>Origins</span>
            <div>{{product.description.origins}}</div>
          </div>
          <div class="product-tabs_description">
            <span>How to cook</span>
            <div>{{product.description.howToCook}}</div>
          </div>
        </app-tab>

        <app-tab [title]="'Reviews'" [count]="product.reviews.length">
          <div
            class="product-tabs_review"
            *ngFor="let review of product.reviews"
          >
            <span>{{review.author}}</span><span>{{review.date.substr(0, 24)}}</span>
            <div class="product-tabs_review-body">{{review.body}}</div>
          </div>
        </app-tab>

        <app-tab [title]="'Questions'" [count]="product.reviews.length">
          <div
            class="product-tabs_review"
            *ngFor="let question of product.questions"
          >
            <span>{{question.author}}</span>
            <span>{{question.date.substr(0, 24)}}</span>
            <div class="product-tabs_review-body">{{question.body}}</div>
          </div>
        </app-tab>
      </app-tabs>
    </div>
  </div>

</div>

<ng-template #noProduct>
  <p class="product_empty">No Product to show! Go back <a routerLink="/products">here</a></p>
</ng-template>

<div class="proposals" *ngIf="product">
  <div class="proposals_header">
    <span>You will maybe love</span>
    <a routerLink="/products">More products</a>
  </div>

  <div class="proposals_items">
    <div *ngFor="let proposal of proposals" class="proposals_item">
      <app-proposal-card [proposal]="proposal"></app-proposal-card>
    </div>
  </div>
</div>
