<div class="filters_container">
  <div class="sort">
    <span class="openSans">Sort by</span>
    <label>
      <select [(ngModel)]="sortValue" (ngModelChange)="sort(sortValue)">
          <option selected disabled hidden>Select</option>
          <option
            *ngFor="let sort_option of sortOptions"
            [ngValue]="sort_option"
          >{{sort_option.label}}</option>
      </select>
    </label>
  </div>

  <form novalidate [formGroup]="form">
    <div class="filter">
      <div class="filter_title">Categories</div>
      <ul class="filter_items">
        <li *ngFor="let category of categories">
          <label class="filter_category">
            <input type="radio" [value]="category" name="categories" formControlName="categories" />
            <span>{{category.charAt(0).toUpperCase() + category.slice(1)}}</span>
            <span>{{getCategoryAmount(category)}}</span>
          </label>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter_title">Brands</div>
      <ul class="filter_items" formArrayName="brands">
        <li *ngFor="let brand of brands; let i = index">
          <label class="filter_brand">
            <input type="checkbox" [value]="brand" [formControlName]="i" (click)="onBrandsCheckboxChange($event)"/>
            {{brand}}
            <span></span>
          </label>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter_title">Rating</div>
      <ul class="filter_rating" formArrayName="rating">
        <li *ngFor="let rate of rating; let index = index">
          <label class="filter_brand">
            <img *ngFor="let star of rating; let i = index" src="assets/{{index < i + 1 ? 'star-full' : 'star'}}.svg" alt="star">
            <input type="checkbox" [value]="5 - index" [formControlName]="index" (click)="onRatingCheckboxChange($event)"/>
            <span></span>
          </label>
        </li>
      </ul>
    </div>

    <div class="filter" formGroupName="price">
      <div class="filter_title">Price</div>
      <div class="filter-price">
        <div class="filter-price_range">
          <ngx-slider
            [(value)]="form.controls.price.value.minPrice"
            [(highValue)]="form.controls.price.value.maxPrice"
            [options]="sliderOptions"
          ></ngx-slider>
          <button type="button" (click)="filter()">OK</button>
        </div>
        <div class="filter-price_inputs">
          <label>Min
            <input type="number" placeholder="0" formControlName="minPrice" [value]="form.controls.price.value.minPrice"/>
          </label>
          <span>-</span>
          <label>Max
            <input type="number" placeholder="000" formControlName="maxPrice" [value]="form.controls.price.value.maxPrice"/>
          </label>
        </div>
      </div>
    </div>
    <button (click)="reset()" type="submit" class="reset">Reset</button>
  </form>
</div>
