.filters {
  &_container {
    margin-right: 35px;
    width: 265px;
    @media screen and (max-width: 1140px) {
      margin-right: 20px;
      width: 250px;
    }
  }
}

.filter {
  margin-bottom: 40px;
  font-size: 14px;
  &_title {
    font-weight: 600;
    font-size: 18px;
  }
  &_items, &_rating {
    display: flex;
    flex-direction: column;
  }
  &_items {
    &--categories {
      max-height: 138px;
    }
    max-height: 191px;
    overflow-y: scroll;
    padding-right: 5px;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(210, 210, 210, 0.5);
      border-radius: 3px;
    }
  }
  &--price {
    padding-top: 11px;
  }
}

.sort {
  max-width: 100%;
  height: 38px;
  margin-bottom: 80px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 14px;
  position: relative;
  span {
    position: relative;
    margin-right: 30px;
    &:after {
      position: absolute;
      content: "";
      height: 25px;
      width: 1px;
      background: #D1D1D1;
      top: 50%;
      right: -17px;
      transform: translateY(-50%);
    }
  }
  select {
    font-size: 12px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    flex-grow: 1;
    text-align-last: center;
    padding: 10px 0;
    option {
      font-size: inherit;
    }
  }
}

.filter_category {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  span {
    transition: all .3s;
  }
  input {
    position: absolute;
    width: 0.01px;
    visibility: hidden;
    &:checked {
      & + span + span {
        color: red;
      }
      & + span {
        font-weight: 900;
      }
    }
  }
  span:last-child {
    background: #F4F8EC;
    border-radius: 12px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6A983C;
    font-weight: 600;
    font-size: 12px;
    max-height: 18px;
    min-width: 25px;
    margin-left: 10px;
  }
}

.filter_brand {
  margin-top: 16px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-size: inherit;
  z-index: 2;
  span {
    display: inline-flex;
    border-radius: 3px;
    border: 1.5px solid #D1D1D1;
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    transition: .3s;
  }
  input:checked + span {
    border: 1.5px solid #46760A;
    background: #6A983C;
    &:after {
      content: "";
      position: absolute;
      border-bottom: 2px solid #FDFDFD;
      border-left: 2px solid #FDFDFD;
      background: none;
      z-index: 1;
      width: 10px;
      height: 4px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%,) rotate(-45deg);
    }
  }
  input {
    width: 0.1px;
    opacity: 0;
  }
}

.filter_rating {
  list-style: none;
  img {
    margin: 0 2px;
    width: 15px;
  }
}

.filter-price {
  &_inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      align-self: flex-end;
      margin-bottom: 10px;
      color: #A9A9A9;
    }
    label {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 12px;
    }
    input {
      background: #F9F9F9;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      padding: 10px 15px;
      max-width: 110px;
      text-align: center;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  &_range {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -12px;
    button {
      background: none;
      border: 2px solid #6A983C;
      border-radius: 4px;
      letter-spacing: 1px;
      padding: 0 4px;
      margin-left: 10px;
      position: relative;
      top: -4px;
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: #fff;
        background: #6A983C;
      }
    }
  }
  ::ng-deep.ngx-slider {
    .ngx-slider-bar {
      background: #EBEBEB !important;
      height: 6px !important;
    }
    .ngx-slider-selection {
      background: #6A983C !important;
      height: 6px !important;
    }
    .ngx-slider-bubble {
      font-size: 14px !important;
      &.ngx-slider-limit {
        font-size: 10px !important;
      }
      &.ngx-slider-model-value, &.ngx-slider-model-high {
        display: none;
      }
    }
    .ngx-slider-pointer {
      background: #FFFFFF !important;
      border: 1px solid #D1D1D1 !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
      width: 20px !important;
      height: 20px !important;
      top: -7px !important;
      &::after {
        display: none;
      }
    }
  }
}

.reset {
  border: none;
  background: none;
  margin: 40px auto 0;
  display: block;
  cursor: pointer;
  padding: 10px 40px;
  letter-spacing: 1px;
  &:active {
    background: #efefef;
  }
}

@media screen and (max-width: 1120px) {
  .filters {
    &_container {
      margin-right: 0;
      width: 100%;
    }
  }
  .sort {
    margin-bottom: 0;
  }
  .mobile {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.3);
    border-top: 1px solid rgba(169, 169, 169, 0.3);
    padding: 10px 0;
    &_button {
      padding: 0 20px;
      transition: .3s;
      display: flex;
      align-items: center;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      background: #F9F9F9;
      cursor: pointer;
      margin-right: 20px;
      &:hover {
        background: #dcdcdc;
      }
    }
  }
  .formMobileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;
    background: rgba(21, 21, 21, 0.5);
    display: none;
    &.active {
      display: block;
    }
  }
  .formMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 95vh;
    z-index: 102;
    background: #fff;
    overflow-y: scroll;
    padding: 30px 30px 50px;
    border-radius: 12px;
    &::-webkit-scrollbar {
      width: 7px;
      background: rgba(169, 169, 169, 0.5);
    }
    &::-webkit-scrollbar-thumb {
      background: #46760A;
      border-radius: 3px;
    }
  }
  .filter_items {
    overflow-y: visible;
    max-height: fit-content;
    list-style: none;
  }
  .filter-price_inputs {
    label {
      width: calc(50% - 15px);
    }
    input {
      max-width: 100%;
    }
  }
  .closeMobile {
    position: absolute;
    top: calc(97.5vh - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    z-index: 102;
    border: none;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #46760A;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-weight: bold;
    &:hover {
      background: #345708;
    }
    &:active {
      background: #579c04;
    }
  }
}

@media screen and (max-width: 768px) {
  .formMobile, .closeMobile {
    width: 80vw;
  }
}

@media screen and (max-width: 450px) {
  .mobile {
    justify-content: center;
  }
  .sort {
    padding: 0 10px;
    span {
      display: none;
    }
  }
  .formMobile {
    padding: 15px 15px 50px;
  }
}
