<div class="filters_container">
  <div class="sort">
    <span class="openSans">Sort by</span>
    <select [(ngModel)]="selectedValue" (change)="sort(selectedValue)">
        <option selected disabled hidden>Select</option>
        <option
          *ngFor="let o of options"
          [ngValue]="o"
        >{{o.label}}</option>
    </select>
  </div>

  <div class="filter">
    <div class="filter_title">Categories</div>
    <ul class="filter_items">
      <app-category-filter></app-category-filter>
    </ul>
  </div>

  <div class="filter">
    <div class="filter_title">Brands</div>
    <ul class="filter_items">
      <app-brand-filter></app-brand-filter>
    </ul>
  </div>

  <div class="filter">
    <div class="filter_title">Rating</div>
    <ul class="filter_rating">
      <app-rating-filter></app-rating-filter>
    </ul>
  </div>

  <div class="filter">
    <div class="filter_title">Price</div>
    <app-price-filter></app-price-filter>
  </div>
</div>
