.breadcrumbs {
  color: #A9A9A9;
  font-size: 12px;
  padding: 20px 0;
  a {
    color: inherit;
    &:after {
      content: '/';
      margin: 0 5px;
    }
    &:last-child {
      color: #151515;
      pointer-events: none;
      &:after {
        display: none;
      }
    }
  }
}
